@media all and (min-width: 480px) {
    .Edit {
        height: 100%;
        top: 60%;
    }
    .Edit form {
      margin: 0 auto;
      max-width: 680px;
    }


  }
.ql-editor{
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    min-height: 18em;

}
