@media all and (min-width: 480px) {
    .Login {
        height: 100%;
        width: 20%;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .LoginCard {
        padding: 60px 0;
        height: 80%;
        width: 30%;
    }

  }
.card {
    /* Added */
    float: none; /* Added */
    /* Added */
    margin: 0 auto 10px;
}
.ButtonForm {
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto 10px;
}
