@media all and (min-width: 480px) {
    .NewJob {
      padding: 60px 0;
      top: 60%;
    }
  
    .NewJob form {
      margin: 0 auto;
      max-width: 680px;
    }


  }
.ql-editor{
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    min-height: 18em;

}
