@media all and (min-width: 480px) {
    .Home {
        height: 100%;
        width: 80%;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  }

*.btn:active, .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none !important;
}
