@media all and (min-width: 480px) {
    .Settings {
        height: 100%;
        width: 60%;
        position: fixed;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  }
